.markdown h1 {
  border-bottom: 1px solid #ccc;
  margin: 16px 0;
  padding-bottom: 8px;
}

.markdown h2 {
  border-bottom: 1px solid #ccc;
  margin: 16px 0;
  padding-bottom: 8px;
}

.markdown ul {
  list-style: disc inside;
}

.markdown ol {
  list-style: decimal inside;
}

.markdown ul li,
.markdown ol li {
  display: list-item;
  padding-left: 16px;
}

.markdown blockquote {
  position: relative;
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}

.markdown blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 64px;
  position: absolute;
  left: -20px;
  top: 18px;
}

.markdown p {
  line-height: 1.5;
  text-indent: 2em;
  margin-bottom: 12px;
}

.markdown img {
  max-width: 640px;
}

.markdown a {
  text-decoration: underline;
}

.markdown pre {
  max-width: 720px;
  overflow: scroll;
}
