:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  /* https://colorhunt.co/palette/b7c4cfeee3cbd7c0ae967e76 */
  --color1: #b7c4cf;
  --color2: #eee3cb;
  --color3: #d7c0ae;
  --color4: #967e76;

  /* https://colorhunt.co/palette/fdeedcffd8a9f1a661e38b29 */
  --color5: #fdeedc;
  --color6: #ffd8a9;
  --color7: #f1a661;
  --color8: #e38b29;

  --color9: #f0a500;
  --color10: #c8dbbe;
  --color11: #61764b;

  /* https://www.colorhunt.co/palette/fee3ecf9c5d5f999b7f2789f */
  --pink1: #fee3ec;
  --pink2: #f9c5d5;
  --pink3: #f999b7;
  --pink4: #f16592;

  /* https://www.colorhunt.co/palette/6c4ab68d72e18d9effb9e0ff */
  --purple1: #b9e0ff;
  --purple2: #8d9eff;
  --purple3: #8d72e1;
  --purple4: #6c4ab6;

  /* https://www.colorhunt.co/palette/f4f4f2e8e8e8bbbfca495464 */
  --winter1: #f4f4f2;
  --winter2: #bbbfca;
  --winter3: #495464;
  --winter4: #332119;
  --winter11: rgb(238, 114, 29); /*#ee721d*/
  --winter12: #e31da2;
  --winter13: #f61d08;
  --winter14: #464c05;
  --winter15: #379237;

  /* 距离 */
  --header-height: 74px;
}

:root {
  /* semantic colors */
  --bg-base1: var(--winter1);
  --bg-base2: var(--winter2);
  --bg-base3: var(--winter3);
  --bg-base4: var(--winter4);
  --bg-primary: var(--winter11); /*primary*/
  --bg-helper: var(--winter12); /* helper color */
  --bg-danger: var(--winter13);
  --bg-ok: var(--winter14);
  --bg-ok-light: #379237;

  --fg-base1: var(--winter1);
  --fg-base2: var(--winter2);
  --fg-base3: var(--winter3);
  --fg-base4: var(--winter4);
  --fg-primary: var(--winter11); /*primary*/
  --fg-helper: var(--winter12); /* helper color */
  --fg-danger: var(--winter13);
  --fg-ok: var(--winter14);
  --fg-ok-light: var(--winter15);
}
